   <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Boulevard de l'Umuganda, Kacyiru<br>Lab, ICT Park, 6th Floor</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Follow</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Us</h3>
                        <p>Committed to bringing you well curated tech stories and developments.</p>
                    </div>
                </div>
            </div>
        </div>


                      <p class= "copyright text-muted text-center">  Copyright 2016 &copy; CITES</p>
                    
                        </footer>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script>var $=jQuery.noConflict();</script>

<!-- Shoprocket JavaScript -->
<script language="javascript" src="https://space.shoprocket.co/frontend/sr.min.js?cid=10999"></script>

<!-- Shoprocket Basket Widget -->
<div id="sr-basket-widget" class="sr-right"><span class="sr-confirm-amount"></span></div>
