
<nav>
  <a  href="{{site.github.url}}/index.html">
  <img class="navlogo" src="{{site.github.url}}/img/tech.png">
</a>
  <ul class= "nav">
    <li><a href="{{site.github.url}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.github.url}}/News.html" class="{% if page.url contains 'News' %}current{% endif %}">News</a></li>
    <li><a href="{{site.github.url}}/Reviews.html" class="{% if page.url contains 'Reviews' %}current{% endif %}">Reviews</a></li>
    <li><a href="{{site.github.url}}/Warehouse.html" class="{% if page.url contains 'Warehouse' %}current{% endif %}">Warehouse</a></li>
  </ul>

</nav>
