---
layout: default
---

<nav>
 
  <ul class= "nav">
    <li><a href="{{site.github.url}}/phones.html" class="{% if page.url == '/phones.html' %}current{% endif %}">Phones</a></li>
    <li><a href="{{site.github.url}}/Reviews.html" class="{% if page.url contains 'News' %}current{% endif %}">Gadgets</a></li>
    <li><a href="{{site.github.url}}/Reviews.html" class="{% if page.url contains 'Reviews' %}current{% endif %}">Accesories</a></li>
    <li><a href="{{site.github.url}}/Reviews.html" class="{% if page.url contains 'Warehouse' %}current{% endif %}">Aps&serrvices</a></li>
  </ul>

</nav>

{{content}}